# AegisDID Frontend Environment Variables

# The Base Sepolia address of the deployed AegisAid smart contract
NEXT_PUBLIC_AEGIS_AID_ADDRESS=0xAB2fa997c25B0B02E635052166d0192b5Eab5765

# For local testing with Anvil, use the Anvil RPC URL and update the address after deploying SetupLocalDemo.s.sol
# NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
# NEXT_PUBLIC_AEGIS_AID_ADDRESS=<local_anvil_contract_address>

